body {
    margin: 1%;
    margin-top:0;
    background: #ccc;
    font-size: 1.2rem;
}

a.hover{
    text-decoration: none;
}

.mainContain{ 
    background: #343a40;
    box-shadow: 0 -1px 20px #333;
}

.ham{
    color:aqua;
    background-color: #343a40;
    padding:5px;
    border-color: azure;
}

.ham a:hover{
    background-color: #343a40;
}

.headLink {
    color:white;
    text-align: center;
    overflow: hidden;
    background-color: #343a40;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.headLink:hover{
}

#hdln{
    text-align: center;
    background-color: #343a40;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}


.navbar-collapse{
    background-color: #343a40;
}

#navbarNavDropdown{
    background-color: #343a40;;
}

#navbarNavDropdown ul li a{
    color:white;
}

#navbarNavDropdown ul li a:hover{
    color:#00cdff;
}

.footStuff{
    color:white;
    text-align: center;
    padding:12px 4px;
}

.carousel-control-prev{
    background:#00cdff;
    opacity:.3;
    background: linear-gradient(to right, #eee , transparent);
}
.carousel-control-prev:hover{
    background:#00cdff;
    opacity:.5;
    background: linear-gradient(to right, #eee , transparent);
}

.carousel-control-next{
    background:#00cdff;
    opacity:.3;
    background: linear-gradient(to right, transparent, #eee);
}

.carousel-control-next:hover{
    background:#00cdff;
    opacity:.5;
    background: linear-gradient(to right, transparent, #eee );
}
carousel-control-prev-icon{
 color:aqua;   
}


.fa{
  padding: 20px;
  width: 80px;
  text-align: center;
  margin: 5px 2px;
}

.fa::before{
  font-size: 2rem;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    color:greenyellow;
    text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

