@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Or will you still hear it, even if you're not watching? Because you're nearby, that may be enough.</p>
